@keyframes rotation {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}
@keyframes blink {
        0%{
            opacity: 1;
        }
        50%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
}
@keyframes randomize {
    0%{
        transform: translateY(200px);
    }
    50%{
        transform: translateY(0px);
    }
  
    100%{
        transform: translateY(-300px);
    }
}