
body{
    background-color: #000;
    max-height: 100vh;
    overflow-x: hidden;
    color: $primary-color;
    main{
        height: 82vh;
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
}
a{
    text-decoration: none;
}
header {
    display: inline-flex;
    justify-content: space-between;
    padding:10px 0px;
    width: 100%;
    .header-logo{
        display: inline-block;
    }
  }

  .text-color {
    color:$text-color
  }

  .default-font-size {
    font-size: 18px;
  }

  .default-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .index-home-section{
    .banner-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        position: relative;
        .text-content{
            width: 80%;
            .banner-title{
                display:inline-block;
                width: 100%;
                h1{
                    color: $primary-color;
                    text-transform: capitalize;
                    font-size: 40px;
                    padding:10px 0px;
                    &:nth-child(2){
                        display: block;
                        float: right;
                        background-color: $secondary-color;
                        color: white;
                       padding-right: 50px;
                       padding-left: 20px;
                        text-transform: uppercase;
                        position: relative;
                        &:after{
                            content: '';
                            width:30px;
                            height: 5px;
                            position: absolute;
                            right: 10px;
                            bottom: 5px;
                            background-color: #fff;
                            animation: blink 0.8s linear infinite;
                        }
                    }
                }
            }
    
            .banner-text{
                float: none;
                width: 100%;
               
               
                p{
                    display: block;
                    width: 100%;
                    color: $primary-color;
                    line-height: 2.5;
                    font-size: 14px;
                    position: relative;
                    padding-left:30px;
                    span{
                        color: $secondary-color;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 10px;
                        background-image:url(../images/icons/chevron.svg);
                        width: 15px;
                        height: 25px;
                        background-size: 100%;
                        background-repeat: no-repeat;
                    }
                }
               
            }
           
        }
        .banner-bottom{
            width: 100%;
            margin: 0 auto;
           
            .bottom-content{
                width: 90%;
                padding-left: 0px;
                .bottom-title{
                    background-color: #424242;
                    padding: 10px 0px;
                    
                    h6{
                        color: $primary-color;
                    }
                }
                .banner-image-sprite{
                    border-bottom: 8px solid #fff;
                    .single-image-holder{
                        width: 10%;
                        height:95px;
                    }
                }
                
            }
            .below-bottom-content{
                .bottom-left{
                    padding: 30px 0px;
                    padding-left: 0px;
                    width: 35%;
                   
                }
              
            }
          
            .bottom-right{
                display: flex;
                height: 100%;
                align-items: end;
               .img-btn-wrap{
                width: 75%;
                height: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
               }
               .img-flamesword{
                width: 125px;
                height: 125px;
               }
                .image-holder{
                    height: 60%;
                    &.fire-back{
                        background-image: url(../images/backflame.gif);
                        background-size: 100% 100%;
                        background-position: 100%;
                        background-repeat: no-repeat;
                        height: 150px;
                    }
                }
                .wr-primary-theme-btn{
                    width: 100%;
                }
            }
        }
        .brick-imgt{
            left: auto;
            right: 0;
            .brick-flame-wrap{
                .brick-icon-wrap{
                    justify-content: right;
                    &:nth-child(1){
                        justify-content: right;
                        .brick-icon{
                            &:nth-child(1){
                                margin-left: 0%;
                            }
                            &:nth-child(2){
                                margin-right: -10%;
                            }
                        }
                    }
        
                    &:nth-child(2){
                        .brick-icon{
                            &:first-child{
                                display: none;
                            }
                        }
                    }
                }
            }
           
        }
    }
  }
  .bottom-line-grp{
    width: 65%;
    span{
        width: 100%;
        display: block;
        position: relative;
        height: 8px;
        &::after{
            content: "";
            right: 12%;
            position: absolute;
            top: 0;
            width: 3%;
            background-color: white;
            height: 8px;
        }
        &:nth-child(2){
            &::after{
                right: 10%;
            }
            
        }
        &:nth-child(3){
            &::after{
                right: 8%;
            }
            
        }
        &:nth-child(4){
            &::after{
                right: 6%;
            }
           
        }
        &:nth-child(5){
            &::after{
                right: 4%;
            }
           
        }
        &:nth-child(6){
            &::after{
                right:2%;
            }
           
        }
        &:nth-child(7){
            &::after{
                right:0%;
            }
           
        }
        &:nth-child(8){
            &::after{
                right:-2%;
            }
           
        }
    }
}
  footer{
    background-color: #242424;
    position: fixed;
    bottom: 0;
    width: 100%;
    .footer-content{
        padding:10px 0px;
        padding-left: 20px;
        .footer-content-wrap{
            a,p{
                color: $primary-color;
                font-size: 12px;
            }
            ul{
                margin-bottom: 0;
                li{
                    a,p{
                        color: $primary-color;
                        font-size: 12px;
                        display: block;
                        padding: 0px 25px;
                        margin-bottom: 0;
                        cursor: pointer;
                    }
                }
            }
            &.footer-right{
                margin-left: 20px;
                ul{
                    float: right;
                    margin-bottom: 0;
                }
            }
        }
    }
  }

  // Custom modal
//   .modal-overlay {
//     width: 100%;
//     height: 100vh;
//     background-color: #1E1E1E;
//     opacity: 0.9;
//   }

  .modal-border {
    background-color: #090909;
    border-radius: 10px;
    box-shadow: 0 0 0 0 #CFB56A, 0 5px 0 0 #CFB56A, -5px 0 0 0 #CFB56A;
  }

  .mint-modal{
   background-color: #090909;
   border-radius: 10px;
   box-shadow: 0 0 0 0 #CFB56A, 0 5px 0 0 #CFB56A, -5px 0 0 0 #CFB56A;
  }

  .mint-modal-header {
    display: flex;
    margin-top:20px
  
  }
  .mint-modal-header-title {
    display: flex;
    justify-content: center;
    color:$primary-color;
    align-items: center;
}

.mint-modal-header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mint-modal-header-icon:hover{
    cursor: pointer;
}
.modal-backdrop{
    background-color: #1E1E1E;
    &.show{
        opacity: 0.9;
    }
}
.collection-frame{
    background-color: #242424;
    height: 500px;
    margin: 20px 0px;
    padding: 10px 120px;
    border-radius: 20px;
    .col-md-4{
        .collection-card{
            margin:0px 0px 15px;
            background-color:#686868 ;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .card-img{
                height: 100px;
                width: 100px;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        &:nth-child(4){
            .collection-card{
            margin-bottom: 0;
        }
    }
        &:nth-child(5){
            .collection-card{
            margin-bottom: 0;
        }
    }
        &:nth-child(6){
            .collection-card{
            margin-bottom: 0;
        }
        }
    }
   
}
.mint-modal-header-title {
    font-size:18px ;
    font-weight: 400px ;
}

.mint-modal-body-card {
    width: 148px;
    height: 148px;
    background-color:#424242;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mint-modal-body {
    height: 100%;
    text-align: center;
}

.mint-modal-btn {
    width:284px;
    height: 71px;
    margin-top: -20px;
}

.mint-modal-body-card-wrapper {
    // display:flex;
    // justify-content: center;
    // align-items: center;
}

// disconnet wallet modal
.connect-wallet-container {
    width: 401px;
    height: 415px;
    padding:20px 10px;
    opacity: 1;
    background-color: #000;
    
}
.connet-wallet-header {
    display: flex;
    justify-content: space-between;
}

.connet-wallet-title {
    font-size: 18px;
    font-weight: 400px;
}
.connect-wallet-body {
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: center;
    align-items: center;
}

.wallet-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.wallet-img {
    width:40px;
    height: 40px;
}
.wallet-list-item {
    width: 268px;
    height: 60px;
    padding:10px;
    cursor: pointer;
    transition: all 0.4s linear;
    // &-active{
    //     background-color: #333333;
    // }
    &:hover{
        background-color: #333333;
    }
}


.wallet-list-item-active {
    background-color: #333333;
}

.connet-wallet-btn {
    background-color: #A48837;
    width: 142px;
    height: 3px;

}

.wallet-text {
    margin-left:10px
}


//disconnect wallet
.disconnect-wallet {
    background-color: #1E1E1E;
    width: 818px;
    height: 206px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

// .modal-content {
//     width: 818px;
//     height: 206px; 
//     border-radius: 10px;
//     background-color: #1E1E1E;
// }

.disconnet-wallet-btn {
    width: 160px;
    height: 40px;
}

    .side-bottom{
        p{
            color: $primary-color;
        }
        .bottom-image-wrap{
            .img-wrap{
                width: 100px;
                height: 100px;
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
            .bottom-line-grp{
                position: relative;
                padding-top: 5px;
                margin-bottom:100px;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        height: 6px;
                        top: 0;
                        width: 90%;
                        background-color: white;
                    }
                    span{
                        
                        &::after{
                            right: 5%;
                            width: 8%;
                        }
                        &:nth-child(2){
                            &::after{
                                right: -2%;
                            }
                            
                        }
                        &:nth-child(3){
                            &::after{
                                right: -8%;
                            }
                            
                        }
                        &:nth-child(4){
                            &::after{
                                right: -14%;
                            }
                        
                        }
                        &:nth-child(5){
                            &::after{
                                right: -20%;
                            }
                        
                        }
                        &:nth-child(6){
                            &::after{
                                right:-26%;
                            }
                        
                        }
                        &:nth-child(7){
                            &::after{
                                right:-32%;
                            }
                        
                        }
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        height: 6px;
                        background-color: white;
                        width: 30%;
                        right: -60%;
                    } 
                }
            }
        }

        .modal-overlay{
            .modal-dialog{
                max-width: 100%;
                height: 100%;
                height: 100%;
                margin-top: 0;
                padding-top: 20px;
                background-color: #1E1E1E;
                .modal-content{
                    border-radius: 10px;
                    background-color: #1E1E1E;;
                    .mint-modal{
                        width: 30%;
                        margin: 0 auto;
                        padding:30px;
                        .mint-modal-body-card{
                            margin-bottom:20px;
                        }
                        &.story-modal {
                     
                            padding-right: 0;
                            max-width: 900px;
                            width: 100%;
                            overflow-x: hidden;
                            width: 900px;
                            .story-content-p {
                                font-size: 14px;
                                line-height: 25px;
                                .story-modal-title {
                                    font-size: 18px;
                                }
                            }
                        }
                        &.faq-modal{
                            width: 50%;
                            .faq-card{
                                ol{
                                    li{
                                        padding: 10px 0px;
                                        p{
                                            margin: 10px 0px;
                                        }
                                    }
                                }
                            }
                        }
                        &.connect-wallet-container{
                            width: 30%;
                        }
                    }
                   
                }
            }
        }




.story-content {
    position: relative;
    display: flex;
    align-items: end;
}

.story-content-img {
    width: 205px;
    height: 120px;
    margin-right: -50px;
}